/* Navbar */
.navbar-top {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: var(--color-text-muted);
    line-height: 25px;
    letter-spacing: 0.5px;
    //border: 2px red solid;

    &-links {
        & .dropdown-menu.show {
            display: block !important;
        }
    }

    & input::placeholder {
        font-size: 14px;
        line-height: 1.5;
    }

    & a:not(.btn) {
        font-size: 15px;
        font-weight: 600;
        color: var(--color-muted-secondary);
        padding-left: 12px;
        padding-right: 14px;
    }

    & .dropdown-toggle::after {
        display: none;
    }

    & .count-info span {
        position: absolute;
        right: 3px;
        top: -7px;
    }

    & .dropdown-menu {
        padding: 0.5rem 2rem;
        left: unset;
        right: 0;

        a {
            color: var(--color-text);
        }
    }
}

.nav > li {
    width: auto !important;
    position: relative;

    & > a {
        position: relative;
    }
}

.navbar.navbar-static-top {
    display: block;

    & h3 {
        font-size: 1.25rem !important;
        display: block;
        font-weight: 500 !important;
        line-height: 1.1 !important;

    }
}

.navbar-text {
    display: unset;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-top-links li:last-child {
    margin-right: 40px;
}

.navbar.navbar-static-top {
    & .nav.navbar-top-links.navbar-right {
        & a {
            color: var(--link-nav-darken);
        }

        & ul.dropdown-menu {
            margin-top: -20px;
        }
    }
}

.navbar-static-top .dropdown-menu {
    right: 0;
    left: auto;
}


.c-navbar .dropdown-menu {
    right: 0;
    left: auto !important;
    top: 17px !important;
    transform: translate3d(0px, 0px, 0px) !important;
}


.c-navbar {
    z-index: 610 !important;

    & .b-nav-dropdown {
        padding-left: 1rem;
    }

    & .dropdown-item {
        color: var(--color-text) !important;
    }

    a {
        &:hover {
            text-shadow: 0px 0px 16px var(--black-t);
            background-color: var(--color-primary-desaturaded);
        }
    }

    & .active {
        //border-top: 4px solid var(--color-primary-lighten);
        box-shadow: inset 0px 4px 0px 0px var(--color-primary-lighten);
        background-color: var(--color-primary-darken);
        color: var(--color-text-light) !important;

        &:hover {
            background-color: var(--color-primary-darkest) !important;
        }
    }

    &.bg-secondary {

        .nav-link {
            &:hover {
                background-color: var(--color-secondary-desaturaded) !important;
            }
        }

        & .active {
            //border-top: 4px solid var(--color-primary-lighten);
            box-shadow: inset 0px 4px 0px 0px var(--color-secondary-lighten);
            background-color: var(--color-secondary-darken);
            color: var(--color-text-light);

            &:hover {
                background-color: var(--color-secondary-darkest) !important;
            }
        }
    }

    &.bg-tertiary {


        .nav-link:hover {
            background-color: var(--color-tertiary-desaturated);
        }


        & .active {
            //border-top: 4px solid var(--color-primary-lighten);
            box-shadow: inset 0px 4px 0px 0px var(--color-tertiary-lighten);
            background-color: var(--color-tertiary-darken);
            color: var(--color-text-light);

            &:hover {
                background-color: var(--color-tertiary-darkest) !important;
            }
        }
    }

    &.bg-quaternary {
        .nav-link {
            &:hover {
                background-color: var(--color-quaternary-desaturaded) !important;
            }
        }

        & .active {
            //border-top: 4px solid var(--color-primary-lighten);
            box-shadow: inset 0px 4px 0px 0px var(--color-quaternary-lighten);
            background-color: var(--color-quaternary-darken);
            color: var(--color-text-light);

            &:hover {
                background-color: var(--color-quaternary-darkest) !important;
            }
        }
    }

    &.bg-success {
        .nav-link {
            &:hover {
                background-color: var(--color-success-desaturaded) !important;
            }
        }

        & .active {
            //border-top: 4px solid var(--color-primary-lighten);
            box-shadow: inset 0px 4px 0px 0px var(--color-success-lighten);
            background-color: var(--color-success-darken);
            color: var(--color-text-light);

            &:hover {
                background-color: var(--color-success-darkest) !important;
            }
        }
    }

    &.bg-error {
        .nav-link {
            &:hover {
                background-color: var(--color-error-desaturaded) !important;
            }
        }

        & .active {
            //border-top: 4px solid var(--color-primary-lighten);
            box-shadow: inset 0px 4px 0px 0px var(--color-error-lighten);
            background-color: var(--color-error-darken);
            color: var(--color-text-light);

            &:hover {
                background-color: var(--color-error-darkest) !important;
            }
        }
    }

    &.bg-warning {
        .nav-link {
            &:hover {
                background-color: var(--color-warning-desaturaded) !important;
            }
        }

        & .active {
            //border-top: 4px solid var(--color-primary-lighten);
            box-shadow: inset 0px 4px 0px 0px var(--color-warning-lighten);
            background-color: var(--color-warning-darken);
            color: var(--color-text-light);

            &:hover {
                background-color: var(--color-warning-darkest) !important;
            }
        }
    }

    &.bg-info {
        .nav-link {
            &:hover {
                background-color: var(--color-info-desaturaded) !important;
            }
        }

        & .active {
            //border-top: 4px solid var(--color-primary-lighten);
            box-shadow: inset 0px 4px 0px 0px var(--color-info-lighten);
            background-color: var(--color-info-darken);
            color: var(--color-text-light);

            &:hover {
                background-color: var(--color-info-darkest) !important;
            }
        }
    }


    &.bg-light {
        .nav-link {
            &:hover {
                background-color: var(--color-light-desaturaded) !important;
            }
        }

        & .active {
            //border-top: 4px solid var(--color-primary-lighten);
            box-shadow: inset 0px 4px 0px 0px var(--color-light-lighten);
            background-color: var(--color-light-darken);
            color: var(--color-text-light);

            &:hover {
                background-color: var(--color-light-darkest) !important;
            }
        }
    }

    &.bg-dark {
        .nav-link {
            &:hover {
                background-color: var(--color-primary-desaturaded) !important;
            }
        }

        & .active {
            //border-top: 4px solid var(--color-primary-lighten);
            box-shadow: inset 0px 4px 0px 0px var(--color-dark-lighten);
            background-color: var(--color-dark-darken);
            color: var(--color-text-light);

            &:hover {
                background-color: var(--color-dark-darkest) !important;
            }
        }
    }
}

.c-navbar:not(.navbar) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-main-background);
    padding: 10px 0;

    & div {
        width: 45%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & a.btn {
            margin: 0 15px;
        }

        & h1, & h2, & h3, & h4, & h5, & h6 {
            margin: 0;
        }
    }

    & > ul {
        margin: 0;
        padding: 0;
        width: 45%;
        display: flex;
        list-style: none;
        justify-content: flex-end;
        
        & > li {
            margin-left: 8px;
        }

        & .dropdown-toggle::after {
            display: none;
        }

        & a {
            color: var(--link-nav-darken);
            font-size: 14px;
            position: relative;
            //padding: 10px !important;
            font-weight: 500;
            margin-right: 15px;
        }
    }
}

.c-navbar.navbar {
    height: 40px;
    padding: 0 15px;

    & ul.navbar-nav {
        & .nav-item a {
            height: 40px;
            color: var(--color-text-light);
            transition: $c-transition-time;
        }
    }
}

.navbar-fixed-top, .navbar-static-top {
    background: var(--color-main-background);
}